body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card-wrapper{
    width: 50%;
    flex-direction: column;
    justify-content: center;
}
.card{
    border: 1px solid grey;
    margin: 10px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}
.empty {
    display: none;
}